In [1]:
import pandas as pd

# Load data from a CSV file
df = pd.read_csv('data.csv')

# Print the first five rows of the DataFrame
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [19]:
import pandas as pd

df = pd.read_json('example_2.json')
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [3]:
import pandas as pd

# Load data from an Excel file
df = pd.read_excel('employee.xlsx')

# Print the first five rows of the DataFrame
print(df.head())

   emp_id first_name last_name  hire_date
0     100     Steven      King 2003-06-17
1     101      Neena   Kochhar 2005-09-21
2     102        Lex   De Haan 2001-01-13
3     103  Alexander    Hunold 2006-01-03
4     104      Bruce     Ernst 2007-05-21

In [24]:
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("chinook.db")


# Load data from a SQL query
df = pd.read_sql('SELECT * FROM invoice_items', con)

# Print the first five rows of the DataFrame
print(df.head())
# Be sure to close the connection
con.close()

   InvoiceLineId  InvoiceId  TrackId  UnitPrice  Quantity
0              1          1        2       0.99         1
1              2          1        4       0.99         1
2              3          2        6       0.99         1
3              4          2        8       0.99         1
4              5          2       10       0.99         1