In [4]:
import numpy as np
import pandas as pd
#Series in Pandas
series = pd.Series(['Roger','Ronaldo',np.nan,'Messi',np.nan])
series

0      Roger
1    Ronaldo
2        NaN
3      Messi
4        NaN
dtype: object

In [5]:
#Checking for Null Values
series.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [6]:
#Filling the Nan values 
series = series.fillna(0)
series

0      Roger
1    Ronaldo
2          0
3      Messi
4          0
dtype: object

In [8]:
num_series = pd.Series([1,2,3,4,5,6])
print(num_series)
new= num_series.replace(5,10)
print(new)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
0     1
1     2
2     3
3     4
4    10
5     6
dtype: int64

In [ ]:
s = pd.Series([10, 20, 30, 40, 50, 20])
print(s.unique())

In [ ]:
s = pd.Series([10, 20, 30, 40, 50, 20])
print(s.value_counts())

In [ ]:
s = pd.Series([50, 20, 30, 10, 40])
print(s.sort_values())

In [ ]:
s = pd.Series([10, 20, 30, 40, 50])
print(s.isin([20, 40]))

In [11]:
import pandas as pd

# Creating a sample dataframe
df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [None, 6, 7, 8], 'C': [9, 10, 11, 12]})
print(df)
# Dropping rows with missing values
print(df.dropna())

# Dropping columns with missing values
print(df.dropna(axis=1))

     A    B   C
0  1.0  NaN   9
1  2.0  6.0  10
2  NaN  7.0  11
3  4.0  8.0  12
     A    B   C
1  2.0  6.0  10
3  4.0  8.0  12
    C
0   9
1  10
2  11
3  12

In [13]:
# Creating a sample dataframe
df = pd.DataFrame({'A': [1, 2, 3, 3], 'B': [4, 5, 6, 6], 'C': [7, 8, 9, 9]})
print(df)
# Dropping duplicate rows based on all columns
df.drop_duplicates()

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
3  3  6  9

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [16]:
import numpy as np
df = pd.DataFrame({'A': [-1, 2, 0, -4], 'B': [3, -5, 1, 0], 'C': [6, 7, -8, 9]})

# Computing the sign of each element in the DataFrame
df_sign = np.sign(df)

# Printing the original DataFrame and the signed DataFrame
print("Original DataFrame:\n", df)
print("Signed DataFrame:\n", df_sign)

Original DataFrame:
    A  B  C
0 -1  3  6
1  2 -5  7
2  0  1 -8
3 -4  0  9
Signed DataFrame:
    A  B  C
0 -1  1  1
1  1 -1  1
2  0  1 -1
3 -1  0  1