In [2]:
import pandas as pd
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'], 'value': [1, 2, 3, 4]})
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'], 'value': [5, 6, 7, 8]})
# Merging
print(df1)
print(df2)
merged_df = pd.merge(df1, df2, on='key')

print(merged_df)

  key  value
0   A      1
1   B      2
2   C      3
3   D      4
  key  value
0   B      5
1   D      6
2   E      7
3   F      8
  key  value_x  value_y
0   B        2        5
1   D        4        6

In [4]:
# Creating two sample Series
s1 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'], name='Value1')
s2 = pd.Series([5, 6, 7, 8], index=['B', 'D', 'E', 'F'], name='Value2')
print(s1)
print(s2)
# Merging
merged_s = pd.merge(s1, s2, left_index=True, right_index=True, how='outer')

print(merged_s)

A    1
B    2
C    3
D    4
Name: Value1, dtype: int64
B    5
D    6
E    7
F    8
Name: Value2, dtype: int64
   Value1  Value2
A     1.0     NaN
B     2.0     5.0
C     3.0     NaN
D     4.0     6.0
E     NaN     7.0
F     NaN     8.0

In [6]:
#LEFT AND RIGHT MERGE/JOIN
s1 = pd.Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'], name='Value1')
s2 = pd.Series([5, 6, 7, 8], index=['B', 'D', 'E', 'F'], name='Value2')

print(s1)
print(s2)
# Performing a left merge on the two Series
left_merge_s = pd.merge(s1, s2, left_index=True, right_index=True, how='left')

# Performing a right merge on the two Series
right_merge_s = pd.merge(s1, s2, left_index=True, right_index=True, how='right')

# Printing the left and right merged Series
print(left_merge_s)
print(right_merge_s)

A    1
B    2
C    3
D    4
Name: Value1, dtype: int64
B    5
D    6
E    7
F    8
Name: Value2, dtype: int64
   Value1  Value2
A       1     NaN
B       2     5.0
C       3     NaN
D       4     6.0
   Value1  Value2
B     2.0       5
D     4.0       6
E     NaN       7
F     NaN       8

In [10]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 90, 75],
    'Science': [90, 80, 85],
    'History': [80, 85, 90]
})
df.set_index('Name', inplace=True)
print(df)
# Stacking the DataFrame
stacked_df = df.stack()
print(stacked_df)

         Math  Science  History
Name
Alice      85       90       80
Bob        90       80       85
Charlie    75       85       90
Name
Alice    Math       85
         Science    90
         History    80
Bob      Math       90
         Science    80
         History    85
Charlie  Math       75
         Science    85
         History    90
dtype: int64

In [9]:
#Unstacking
unstacked_df = stacked_df.unstack()
print(unstacked_df)

         Math  Science  History
Name
Alice      85       90       80
Bob        90       80       85
Charlie    75       85       90

In [11]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7']
})

# Concatenating
result = pd.concat([df1, df2])
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7